In [59]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [60]:
df = pd.read_csv('train.csv')
df_test = pd

In [61]:
df.describe()

,galactic year,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,"Intergalactic Development Index (IDI), Rank",...,"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII),y
count,3.865000e+03,3864.000000,3864.000000,3837.000000,3837.000000,3732.000000,3502.000000,3474.000000,3474.000000,3432.000000,...,916.000000,915.000000,914.000000,893.000000,892.000000,912.000000,941.000000,874.000000,844.000000,3865.000000
mean,1.000709e+06,0.872479,76.798111,31633.240872,0.825154,14.723296,10.283959,0.804246,0.745900,135.129178,...,0.823561,0.844209,1.008465,121.754797,120.873428,21.252922,6.443023,22.261474,0.600733,0.082773
std,6.945463e+03,0.162367,10.461654,18736.378445,0.194055,3.612546,3.319948,0.176242,0.199795,52.449535,...,0.185780,0.159041,0.087299,46.269362,46.795666,14.258986,4.804873,34.342797,0.205785,0.063415
min,9.900250e+05,0.227890,34.244062,-126.906522,0.292001,3.799663,1.928166,0.273684,0.189874,9.925906,...,0.305733,0.369519,0.465177,23.224603,16.215151,-76.741414,-1.192011,-735.186886,0.089092,0.013036
25%,9.950060e+05,0.763027,69.961449,20169.118912,0.677131,12.592467,7.654169,0.671862,0.597746,92.262724,...,0.690707,0.731264,0.965800,84.090816,82.232550,15.001028,4.113472,17.227899,0.430332,0.047889
50%,1.000000e+06,0.907359,78.995101,26600.768195,0.827300,14.942913,10.385465,0.824758,0.761255,135.914318,...,0.835410,0.862773,1.029947,120.069916,121.057923,22.182571,5.309497,24.472557,0.624640,0.057820
75%,1.006009e+06,0.992760,84.558971,36898.631754,0.970295,17.123797,12.884752,0.939043,0.893505,175.301993,...,0.970365,0.961369,1.068481,158.579644,157.815625,29.134738,6.814577,31.748295,0.767404,0.087389
max,1.015056e+06,1.246908,100.210053,151072.683156,1.361883,26.955944,19.057648,1.232814,1.269625,278.786613,...,1.237661,1.182746,1.181230,232.720847,233.915373,61.903641,36.538462,95.941245,1.098439,0.683813

In [62]:
# huge ratio of nulls throughout
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3865 entries, 0 to 3864
Data columns (total 80 columns):
 #   Column                                                                                   Non-Null Count  Dtype
---  ------                                                                                   --------------  -----
 0   galactic year                                                                            3865 non-null   int64
 1   galaxy                                                                                   3865 non-null   object
 2   existence expectancy index                                                               3864 non-null   float64
 3   existence expectancy at birth                                                            3864 non-null   float64
 4   Gross income per capita                                                                  3837 non-null   float64
 5   Income Index                                                                             3837 non-null   float64
 6   Expected years of education (galactic years)                                             3732 non-null   float64
 7   Mean years of education (galactic years)                                                 3502 non-null   float64
 8   Intergalactic Development Index (IDI)                                                    3474 non-null   float64
 9   Education Index                                                                          3474 non-null   float64
 10  Intergalactic Development Index (IDI), Rank                                              3432 non-null   float64
 11  Population using at least basic drinking-water services (%)                              2021 non-null   float64
 12  Population using at least basic sanitation services (%)                                  2015 non-null   float64
 13  Gross capital formation (% of GGP)                                                       1502 non-null   float64
 14  Population, total (millions)                                                             1271 non-null   float64
 15  Population, urban (%)                                                                    1271 non-null   float64
 16  Mortality rate, under-five (per 1,000 live births)                                       1271 non-null   float64
 17  Mortality rate, infant (per 1,000 live births)                                           1259 non-null   float64
 18  Old age dependency ratio (old age (65 and older) per 100 creatures (ages 15-64))         1264 non-null   float64
 19  Population, ages 15–64 (millions)                                                        1264 non-null   float64
 20  Population, ages 65 and older (millions)                                                 1264 non-null   float64
 21  Life expectancy at birth, male (galactic years)                                          1264 non-null   float64
 22  Life expectancy at birth, female (galactic years)                                        1264 non-null   float64
 23  Population, under age 5 (millions)                                                       1264 non-null   float64
 24  Young age (0-14) dependency ratio (per 100 creatures ages 15-64)                         1264 non-null   float64
 25  Adolescent birth rate (births per 1,000 female creatures ages 15-19)                     1252 non-null   float64
 26  Total unemployment rate (female to male ratio)                                           1237 non-null   float64
 27  Vulnerable employment (% of total employment)                                            1237 non-null   float64
 28  Unemployment, total (% of labour force)                                                  1237 non-null   float64
 29  Employment in agriculture (% of total employment)                                        1237 non-null   float64
 30  Labour force participation rate (% ages 15 and older)                                    1237 non-null   float64
 31  Labour force participation rate (% ages 15 and older), female                            1237 non-null   float64
 32  Employment in services (% of total employment)                                           1237 non-null   float64
 33  Labour force participation rate (% ages 15 and older), male                              1237 non-null   float64
 34  Employment to population ratio (% ages 15 and older)                                     1237 non-null   float64
 35  Jungle area (% of total land area)                                                       1234 non-null   float64
 36  Share of employment in nonagriculture, female (% of total employment in nonagriculture)  1237 non-null   float64
 37  Youth unemployment rate (female to male ratio)                                           1236 non-null   float64
 38  Unemployment, youth (% ages 15–24)                                                       1236 non-null   float64
 39  Mortality rate, female grown up (per 1,000 people)                                       1253 non-null   float64
 40  Mortality rate, male grown up (per 1,000 people)                                         1253 non-null   float64
 41  Infants lacking immunization, red hot disease (% of one-galactic year-olds)              1219 non-null   float64
 42  Infants lacking immunization, Combination Vaccine (% of one-galactic year-olds)          1219 non-null   float64
 43  Gross galactic product (GGP) per capita                                                  1202 non-null   float64
 44  Gross galactic product (GGP), total                                                      1202 non-null   float64
 45  Outer Galaxies direct investment, net inflows (% of GGP)                                 1169 non-null   float64
 46  Exports and imports (% of GGP)                                                           1144 non-null   float64
 47  Share of seats in senate (% held by female)                                              1123 non-null   float64
 48  Natural resource depletion                                                               1132 non-null   float64
 49  Mean years of education, female (galactic years)                                         1140 non-null   float64
 50  Mean years of education, male (galactic years)                                           1138 non-null   float64
 51  Expected years of education, female (galactic years)                                     1109 non-null   float64
 52  Expected years of education, male (galactic years)                                       1108 non-null   float64
 53  Maternal mortality ratio (deaths per 100,000 live births)                                1252 non-null   float64
 54  Renewable energy consumption (% of total final energy consumption)                       1235 non-null   float64
 55  Estimated gross galactic income per capita, male                                         1055 non-null   float64
 56  Estimated gross galactic income per capita, female                                       1055 non-null   float64
 57  Rural population with access to electricity (%)                                          1029 non-null   float64
 58  Domestic credit provided by financial sector (% of GGP)                                  1079 non-null   float64
 59  Population with at least some secondary education, female (% ages 25 and older)          1089 non-null   float64
 60  Population with at least some secondary education, male (% ages 25 and older)            1087 non-null   float64
 61  Gross fixed capital formation (% of GGP)                                                 1074 non-null   float64
 62  Remittances, inflows (% of GGP)                                                          1028 non-null   float64
 63  Population with at least some secondary education (% ages 25 and older)                  1051 non-null   float64
 64  Intergalactic inbound tourists (thousands)                                               995 non-null    float64
 65  Gross enrolment ratio, primary (% of primary under-age population)                       1038 non-null   float64
 66  Respiratory disease incidence (per 100,000 people)                                       896 non-null    float64
 67  Interstellar phone subscriptions (per 100 people)                                        891 non-null    float64
 68  Interstellar Data Net users, total (% of population)                                     872 non-null    float64
 69  Current health expenditure (% of GGP)                                                    867 non-null    float64
 70  Intergalactic Development Index (IDI), female                                            916 non-null    float64
 71  Intergalactic Development Index (IDI), male                                              915 non-null    float64
 72  Gender Development Index (GDI)                                                           914 non-null    float64
 73  Intergalactic Development Index (IDI), female, Rank                                      893 non-null    float64
 74  Intergalactic Development Index (IDI), male, Rank                                        892 non-null    float64
 75  Adjusted net savings                                                                     912 non-null    float64
 76  Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total                941 non-null    float64
 77  Private galaxy capital flows (% of GGP)                                                  874 non-null    float64
 78  Gender Inequality Index (GII)                                                            844 non-null    float64
 79  y                                                                                        3865 non-null   float64
dtypes: float64(78), int64(1), object(1)
memory usage: 2.4+ MB

In [63]:
print("There are", len(df['galactic year'].unique()), "unique years")
print("There are", len(df['galaxy'].unique()), "unique galaxies")

There are 26 unique years
There are 181 unique galaxies

In [64]:
df[df.galaxy == "Virgo I"].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24 entries, 2 to 3842
Data columns (total 80 columns):
 #   Column                                                                                   Non-Null Count  Dtype
---  ------                                                                                   --------------  -----
 0   galactic year                                                                            24 non-null     int64
 1   galaxy                                                                                   24 non-null     object
 2   existence expectancy index                                                               24 non-null     float64
 3   existence expectancy at birth                                                            24 non-null     float64
 4   Gross income per capita                                                                  24 non-null     float64
 5   Income Index                                                                             24 non-null     float64
 6   Expected years of education (galactic years)                                             24 non-null     float64
 7   Mean years of education (galactic years)                                                 24 non-null     float64
 8   Intergalactic Development Index (IDI)                                                    24 non-null     float64
 9   Education Index                                                                          24 non-null     float64
 10  Intergalactic Development Index (IDI), Rank                                              24 non-null     float64
 11  Population using at least basic drinking-water services (%)                              14 non-null     float64
 12  Population using at least basic sanitation services (%)                                  14 non-null     float64
 13  Gross capital formation (% of GGP)                                                       12 non-null     float64
 14  Population, total (millions)                                                             8 non-null      float64
 15  Population, urban (%)                                                                    8 non-null      float64
 16  Mortality rate, under-five (per 1,000 live births)                                       8 non-null      float64
 17  Mortality rate, infant (per 1,000 live births)                                           8 non-null      float64
 18  Old age dependency ratio (old age (65 and older) per 100 creatures (ages 15-64))         8 non-null      float64
 19  Population, ages 15–64 (millions)                                                        8 non-null      float64
 20  Population, ages 65 and older (millions)                                                 8 non-null      float64
 21  Life expectancy at birth, male (galactic years)                                          8 non-null      float64
 22  Life expectancy at birth, female (galactic years)                                        8 non-null      float64
 23  Population, under age 5 (millions)                                                       8 non-null      float64
 24  Young age (0-14) dependency ratio (per 100 creatures ages 15-64)                         8 non-null      float64
 25  Adolescent birth rate (births per 1,000 female creatures ages 15-19)                     8 non-null      float64
 26  Total unemployment rate (female to male ratio)                                           8 non-null      float64
 27  Vulnerable employment (% of total employment)                                            8 non-null      float64
 28  Unemployment, total (% of labour force)                                                  8 non-null      float64
 29  Employment in agriculture (% of total employment)                                        8 non-null      float64
 30  Labour force participation rate (% ages 15 and older)                                    8 non-null      float64
 31  Labour force participation rate (% ages 15 and older), female                            8 non-null      float64
 32  Employment in services (% of total employment)                                           8 non-null      float64
 33  Labour force participation rate (% ages 15 and older), male                              8 non-null      float64
 34  Employment to population ratio (% ages 15 and older)                                     8 non-null      float64
 35  Jungle area (% of total land area)                                                       8 non-null      float64
 36  Share of employment in nonagriculture, female (% of total employment in nonagriculture)  8 non-null      float64
 37  Youth unemployment rate (female to male ratio)                                           8 non-null      float64
 38  Unemployment, youth (% ages 15–24)                                                       8 non-null      float64
 39  Mortality rate, female grown up (per 1,000 people)                                       8 non-null      float64
 40  Mortality rate, male grown up (per 1,000 people)                                         8 non-null      float64
 41  Infants lacking immunization, red hot disease (% of one-galactic year-olds)              8 non-null      float64
 42  Infants lacking immunization, Combination Vaccine (% of one-galactic year-olds)          8 non-null      float64
 43  Gross galactic product (GGP) per capita                                                  8 non-null      float64
 44  Gross galactic product (GGP), total                                                      8 non-null      float64
 45  Outer Galaxies direct investment, net inflows (% of GGP)                                 8 non-null      float64
 46  Exports and imports (% of GGP)                                                           8 non-null      float64
 47  Share of seats in senate (% held by female)                                              7 non-null      float64
 48  Natural resource depletion                                                               8 non-null      float64
 49  Mean years of education, female (galactic years)                                         8 non-null      float64
 50  Mean years of education, male (galactic years)                                           8 non-null      float64
 51  Expected years of education, female (galactic years)                                     8 non-null      float64
 52  Expected years of education, male (galactic years)                                       8 non-null      float64
 53  Maternal mortality ratio (deaths per 100,000 live births)                                8 non-null      float64
 54  Renewable energy consumption (% of total final energy consumption)                       8 non-null      float64
 55  Estimated gross galactic income per capita, male                                         7 non-null      float64
 56  Estimated gross galactic income per capita, female                                       7 non-null      float64
 57  Rural population with access to electricity (%)                                          7 non-null      float64
 58  Domestic credit provided by financial sector (% of GGP)                                  8 non-null      float64
 59  Population with at least some secondary education, female (% ages 25 and older)          8 non-null      float64
 60  Population with at least some secondary education, male (% ages 25 and older)            8 non-null      float64
 61  Gross fixed capital formation (% of GGP)                                                 8 non-null      float64
 62  Remittances, inflows (% of GGP)                                                          1 non-null      float64
 63  Population with at least some secondary education (% ages 25 and older)                  8 non-null      float64
 64  Intergalactic inbound tourists (thousands)                                               7 non-null      float64
 65  Gross enrolment ratio, primary (% of primary under-age population)                       5 non-null      float64
 66  Respiratory disease incidence (per 100,000 people)                                       6 non-null      float64
 67  Interstellar phone subscriptions (per 100 people)                                        6 non-null      float64
 68  Interstellar Data Net users, total (% of population)                                     6 non-null      float64
 69  Current health expenditure (% of GGP)                                                    6 non-null      float64
 70  Intergalactic Development Index (IDI), female                                            7 non-null      float64
 71  Intergalactic Development Index (IDI), male                                              7 non-null      float64
 72  Gender Development Index (GDI)                                                           7 non-null      float64
 73  Intergalactic Development Index (IDI), female, Rank                                      7 non-null      float64
 74  Intergalactic Development Index (IDI), male, Rank                                        7 non-null      float64
 75  Adjusted net savings                                                                     1 non-null      float64
 76  Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total                8 non-null      float64
 77  Private galaxy capital flows (% of GGP)                                                  0 non-null      float64
 78  Gender Inequality Index (GII)                                                            6 non-null      float64
 79  y                                                                                        24 non-null     float64
dtypes: float64(78), int64(1), object(1)
memory usage: 15.2+ KB

In [65]:
# dealing with NAs - Drop
# df = df.dropna()

In [66]:
# dealing with NAs - fill mean
# df = df.fillna(df.mean())

In [67]:
# dealing with NAs - interpolate based on time for each galaxy
df[df.galaxy == "Virgo I"]

,galactic year,galaxy,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,...,"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII),y
2,990025,Virgo I,0.659443,59.570534,8441.707353,0.499762,8.840316,5.583973,0.469110,0.363837,...,NaN,NaN,NaN,NaN,NaN,21.151265,6.534020,NaN,NaN,0.050449
309,991020,Virgo I,0.555338,58.867426,24763.531222,0.463406,7.536744,2.763276,0.502295,0.342069,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.049411
364,992016,Virgo I,0.554174,60.551216,11439.589593,0.524210,7.485369,5.545963,0.430654,0.390630,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.049193
635,993012,Virgo I,0.612921,62.918772,24467.082523,0.481154,7.357494,5.868132,0.489407,0.348280,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.048858
897,994009,Virgo I,0.630974,50.942282,19221.268239,0.506944,7.312539,6.109797,0.412421,0.377290,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.048516
968,995006,Virgo I,0.520525,52.285830,13607.203918,0.506698,8.418098,6.633808,0.542612,0.421850,...,0.401238,0.535206,0.793324,201.082459,158.180644,NaN,14.371015,NaN,0.865088,0.048241
1130,996004,Virgo I,0.548997,56.391857,20383.999095,0.488850,8.042709,5.781784,0.505141,0.366044,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.047036
1292,997002,Virgo I,0.605644,54.017237,27140.832645,0.535970,8.549291,5.357715,0.508980,0.371260,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.046734
1487,998001,Virgo I,0.622283,53.856547,15711.532316,0.416046,8.757084,4.701411,0.522742,0.361373,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.046350
1678,999000,Virgo I,0.493658,53.845410,9493.354352,0.588740,7.483733,6.143015,0.516501,0.501029,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.046022
1975,1000000,Virgo I,0.533987,54.274942,21349.408003,0.481236,8.349136,4.964157,0.430207,0.555302,...,0.436707,0.537904,0.846413,217.500271,188.688759,NaN,14.490678,NaN,0.853677,0.045704
2102,1001000,Virgo I,0.606961,60.189208,12793.020335,0.615798,10.146744,5.446974,0.476674,0.604518,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.043221
2217,1002001,Virgo I,0.510165,52.697366,15255.295485,0.545541,8.206652,6.095133,0.421465,0.449684,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.042873
2373,1003002,Virgo I,0.436123,47.784165,20356.850280,0.492554,9.901931,6.725288,0.445157,0.503091,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.042461
2641,1004004,Virgo I,0.525251,57.147451,20090.313271,0.526405,8.869475,6.241067,0.472539,0.467145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.042236
2717,1005006,Virgo I,0.543404,58.162353,18274.194233,0.544280,9.401813,5.522544,0.556680,0.509637,...,0.352623,0.469105,0.821889,216.120600,226.816039,NaN,9.417920,NaN,0.942649,0.041875
2974,1006009,Virgo I,0.548968,55.026818,17724.692764,0.471176,11.586752,6.791274,0.452337,0.476006,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.040427
3136,1007012,Virgo I,0.477144,54.618898,10221.969794,0.541282,8.404810,6.624552,0.341818,0.557515,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.040060
3184,1008016,Virgo I,0.584246,48.655967,16909.513323,0.615426,10.573089,7.257313,0.478812,0.642198,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.039696
3265,1009020,Virgo I,0.601532,59.454098,23342.759316,0.470185,10.274661,6.439458,0.508008,0.498374,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.039426
3332,1010025,Virgo I,0.613529,60.417514,30065.525318,0.481981,11.239860,5.879717,0.564507,0.495552,...,0.476510,0.531307,0.827091,232.720847,221.470013,NaN,9.288340,NaN,0.888039,0.039152
3472,1011030,Virgo I,0.581829,59.279916,13763.559006,0.475975,10.023448,5.501911,0.613868,0.524489,...,0.493138,0.543880,0.880334,199.879043,194.752371,NaN,9.800436,NaN,0.814804,0.029836
3578,1012036,Virgo I,0.550677,58.415493,25305.806804,0.587138,8.192366,5.975482,0.496115,0.424987,...,0.496804,0.577879,0.869566,212.630501,224.735242,NaN,9.623797,NaN,0.975925,0.029937
3842,1015056,Virgo I,0.618491,57.613256,26919.266981,0.511889,9.389853,4.770357,0.422801,0.519943,...,0.429254,0.595620,0.874042,205.444461,195.040317,NaN,8.364039,NaN,NaN,0.018371

In [68]:
# dealing with NAs - function to interpolate based on time for each galaxy

def interpolator(df=df):
    for g in df.galaxy.unique():
        #splitting out the individual galaxies
        df_temp = df[df['galaxy']==g].copy()
        df = df[~(df['galaxy']==g)]
        #filling the Nans (first with interpolation and then backfilling if missing for start)
        df_temp.sort_values("galactic year",inplace=True)
        df_temp.interpolate(inplace=True)
        df_temp.fillna(method ='bfill',inplace=True)
        #adding back to dataframe
        df = pd.concat([df,df_temp])
    #filling the Nans for any which didnt have anything to fill at all
    df.fillna(df.mean(),inplace=True)
    return df

In [70]:
df = interpolator()

In [71]:
df

,galactic year,galaxy,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,...,"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII),y
0,990025,Large Magellanic Cloud (LMC),0.628657,63.125200,27109.234310,0.646039,8.240543,5.248527,0.576582,0.526375,...,0.634861,0.725081,0.970576,156.177926,157.805539,31.506926,6.377529,23.612347,0.698595,0.052590
194,991020,Large Magellanic Cloud (LMC),0.627245,62.389059,17114.109182,0.503198,9.317262,5.248527,0.576582,0.526375,...,0.634861,0.725081,0.970576,156.177926,157.805539,31.506926,6.377529,23.612347,0.698595,0.052115
410,992016,Large Magellanic Cloud (LMC),0.662135,68.794245,13225.033915,0.692653,8.030645,5.248527,0.576582,0.526375,...,0.634861,0.725081,0.970576,156.177926,157.805539,31.506926,6.377529,23.612347,0.698595,0.052006
543,993012,Large Magellanic Cloud (LMC),0.687776,62.848660,9116.133706,0.667264,11.347429,5.248527,0.576582,0.526375,...,0.634861,0.725081,0.970576,156.177926,157.805539,31.506926,6.377529,23.612347,0.698595,0.051675
765,994009,Large Magellanic Cloud (LMC),0.727717,67.482431,3598.172394,0.609830,10.402265,5.248527,0.576582,0.526375,...,0.634861,0.725081,0.970576,156.177926,157.805539,31.506926,6.377529,23.612347,0.698595,0.051334
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2563,1004004,NGC 5102,1.091676,86.984952,66671.711229,1.069811,19.201916,13.947544,1.113395,1.057824,...,1.048421,0.964559,1.055873,37.719630,74.169742,20.784777,6.377529,36.281833,0.387535,0.165448
2848,1005006,NGC 5102,1.080452,92.192055,52238.818082,0.981938,19.461596,15.568753,0.956783,1.012429,...,1.047132,0.956981,1.046888,33.178344,78.998671,21.679276,6.377529,37.802577,0.386109,0.166074
3040,1006009,NGC 5102,1.143596,89.762503,46090.953928,1.103940,21.213489,16.022024,1.128388,0.945926,...,1.077782,1.039218,1.042863,59.170924,74.545528,18.460118,6.377529,37.116701,0.419120,0.166249
3512,1012036,NGC 5102,1.083807,87.420338,61057.801088,1.110189,16.698035,15.320563,1.019514,1.223794,...,1.108432,1.121454,1.038837,85.163505,70.092384,15.240960,6.377529,36.430824,0.452132,0.176675
3610,1013042,NGC 5102,1.074489,91.615981,59098.449903,1.096430,20.861973,14.997213,1.009153,1.040462,...,0.973716,1.067966,1.096987,57.224901,55.884372,17.145098,6.377529,26.240568,0.438742,0.182978

In [72]:
df.to_csv("train_amended.csv",index=False)

In [ ]:
# we could remove NaNs - tested - best RMSE 0.0302 (KNN)
# we could impute mean - tested - best RMSE 0.027 (Voting Regressor)
# we could do straight line interpolation for missing values for each galaxy 
# we could look to predict the empty columns with the ones which aren't