In [72]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [80]:
submission_df = pd.read_csv("y_preds.csv")
df_test = pd.read_csv('test_amended.csv')

In [81]:
# one of the interpolations was placed below 0.7 which makes the upload break
df_test.iloc[889,1] = 0.75

In [82]:
# setting values for submission 5
test3 = submission_df.sort_values("pred").copy()
test3['opt_pred'] = 0

# low = test3[test3.index.isin(df_test[df_test['existence expectancy index']<0.7].index)]
# high = test3[~(test3.index.isin(df_test[df_test['existence expectancy index']<0.7].index))]

# low.opt_pred.iloc[:40] = 100
# reduce = list(map(int,list(np.round(np.linspace(0,100,20),0))))
# reduce.reverse()
# low.opt_pred.iloc[40:60] = reduce
# print(low.opt_pred.sum())


# high.opt_pred.iloc[:350] = 100
# reduce = list(map(int,list(np.round(np.linspace(0,100,200),0))))
# reduce.reverse()
# high.opt_pred.iloc[350:550] = reduce
# print(high.opt_pred.sum())

# test3 = pd.concat([low,high])

test3.opt_pred.iloc[:350] = 100
reduce = list(map(int,list(np.round(np.linspace(0,100,300),0))))
reduce.reverse()
test3.opt_pred.iloc[350:650] = reduce
print(test3.opt_pred.sum())


test3['index_increase'] = test3.opt_pred*(-np.log(submission_df.pred+0.01)+3)**2/1000
print(test3.index_increase.sum())
test3.drop("index_increase",axis=1,inplace=True)

50000
1807.422509970676

/Users/lukebetham/anaconda3/envs/main_env/lib/python3.8/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [83]:
test3[test3.index.isin(df_test[df_test['existence expectancy index']<0.7].index)].sum()

pred           2.391142
opt_pred    6469.000000
dtype: float64

In [84]:
test3

         pred  opt_pred
226  0.014767       100
49   0.016446       100
37   0.019695       100
34   0.019734       100
26   0.019741       100
..        ...       ...
705  0.455710         0
800  0.456015         0
801  0.456195         0
583  0.680306         0
730  0.680393         0

[890 rows x 2 columns]

In [85]:
test3.sort_index(inplace=True)
test3.reset_index(inplace=True)
test3

     index      pred  opt_pred
0        0  0.042977       100
1        1  0.040024       100
2        2  0.040381       100
3        3  0.039610       100
4        4  0.034555       100
..     ...       ...       ...
885    885  0.028270       100
886    886  0.034195       100
887    887  0.068374        14
888    888  0.063687        27
889    889  0.029277       100

[890 rows x 3 columns]

In [87]:
test3.to_csv('submission10.csv',index=False)

In [71]:
test3.opt_pred.sum()

50000