In [4]:
import pandas as pd
import numpy as np

# ^^^ pyforest auto-imports - don't write above this line


from sklearn.model_selection import TimeSeriesSplit
from scipy import stats
import statsmodels.api as sm
from sklearn.metrics import mean_squared_error

In [10]:
import pandas as pd
import numpy as np
# ^^^ pyforest auto-imports - don't write above this line
#FINALLY WORKING

df = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
df["train_test"] = 'train'
df_test["train_test"] = "test"

print(df.shape)
print(df_test.shape)

df_combined = pd.concat([df,df_test])
print(df_combined.shape)

(3865, 81)
(890, 80)
(4755, 81)

/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [11]:
#Creating copy of combined dataset with reset index

df_combined_1 = df_combined.copy()
df_combined_1.reset_index(inplace=True,drop=False)
df_combined_1.drop("index", axis=1, inplace=True)
df_combined_1

,Adjusted net savings,"Adolescent birth rate (births per 1,000 female creatures ages 15-19)","Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Current health expenditure (% of GGP),Domestic credit provided by financial sector (% of GGP),Education Index,Employment in agriculture (% of total employment),Employment in services (% of total employment),Employment to population ratio (% ages 15 and older),"Estimated gross galactic income per capita, female",...,"Unemployment, youth (% ages 15â€“24)",Vulnerable employment (% of total employment),Young age (0-14) dependency ratio (per 100 creatures ages 15-64),Youth unemployment rate (female to male ratio),existence expectancy at birth,existence expectancy index,galactic year,galaxy,train_test,y
0,NaN,174.617899,NaN,NaN,75.604799,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,98.216072,NaN,63.125200,0.628657,990025,Large Magellanic Cloud (LMC),train,0.052590
1,19.177926,109.892385,NaN,NaN,57.214150,0.467873,NaN,NaN,NaN,NaN,...,NaN,NaN,88.322574,NaN,81.004994,0.818082,990025,Camelopardalis B,train,0.059868
2,21.151265,230.573666,6.534020,NaN,76.141735,0.363837,NaN,NaN,NaN,NaN,...,NaN,NaN,114.163995,NaN,59.570534,0.659443,990025,Virgo I,train,0.050449
3,NaN,198.971328,5.912194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,97.645232,NaN,52.333293,0.555862,990025,UGC 8651 (DDO 181),train,0.049394
4,NaN,61.008654,5.611753,NaN,NaN,0.918353,NaN,NaN,NaN,NaN,...,NaN,NaN,53.835875,NaN,81.802464,0.991196,990025,Tucana Dwarf,train,0.154247
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1016064,ESO 383-087 (ISG 39),test,NaN
4751,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1016064,NGC 247,test,NaN
4752,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1016064,ESO 325-11,test,NaN
4753,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1016064,ESO 540-032,test,NaN
4754,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1016064,KK98 77,test,NaN

In [12]:
#Fitting galactic year to date time format

df_combined['galactic year 1'] = df_combined['galactic year'].apply(lambda x:(np.round((x/1000),0))*2)
df_combined['galactic year 1'] = df_combined['galactic year 1'].astype('int64')
df_combined['galactic year 1'] = df_combined['galactic year 1'].astype('str')
df_combined['galactic year 1'] = df_combined['galactic year 1'] + "0101"
df_combined['date'] = pd.to_datetime(df_combined['galactic year 1'], yearfirst=True
                                 , format='%Y/%m/%d'
                                )
df_combined.head()

,Adjusted net savings,"Adolescent birth rate (births per 1,000 female creatures ages 15-19)","Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Current health expenditure (% of GGP),Domestic credit provided by financial sector (% of GGP),Education Index,Employment in agriculture (% of total employment),Employment in services (% of total employment),Employment to population ratio (% ages 15 and older),"Estimated gross galactic income per capita, female",...,Young age (0-14) dependency ratio (per 100 creatures ages 15-64),Youth unemployment rate (female to male ratio),existence expectancy at birth,existence expectancy index,galactic year,galaxy,train_test,y,galactic year 1,date
0,NaN,174.617899,NaN,NaN,75.604799,NaN,NaN,NaN,NaN,NaN,...,98.216072,NaN,63.125200,0.628657,990025,Large Magellanic Cloud (LMC),train,0.052590,19800101,1980-01-01
1,19.177926,109.892385,NaN,NaN,57.214150,0.467873,NaN,NaN,NaN,NaN,...,88.322574,NaN,81.004994,0.818082,990025,Camelopardalis B,train,0.059868,19800101,1980-01-01
2,21.151265,230.573666,6.534020,NaN,76.141735,0.363837,NaN,NaN,NaN,NaN,...,114.163995,NaN,59.570534,0.659443,990025,Virgo I,train,0.050449,19800101,1980-01-01
3,NaN,198.971328,5.912194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,97.645232,NaN,52.333293,0.555862,990025,UGC 8651 (DDO 181),train,0.049394,19800101,1980-01-01
4,NaN,61.008654,5.611753,NaN,NaN,0.918353,NaN,NaN,NaN,NaN,...,53.835875,NaN,81.802464,0.991196,990025,Tucana Dwarf,train,0.154247,19800101,1980-01-01

In [13]:
#ONLY USING FIRST 3 GALAXIES

mask = ((df_combined['galaxy']=='Large Magellanic Cloud (LMC)')|(df_combined['galaxy']=='Camelopardalis B')|(df_combined['galaxy']=='Virgo I'))
df_combined = df_combined[mask]
df_combined

,Adjusted net savings,"Adolescent birth rate (births per 1,000 female creatures ages 15-19)","Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Current health expenditure (% of GGP),Domestic credit provided by financial sector (% of GGP),Education Index,Employment in agriculture (% of total employment),Employment in services (% of total employment),Employment to population ratio (% ages 15 and older),"Estimated gross galactic income per capita, female",...,Young age (0-14) dependency ratio (per 100 creatures ages 15-64),Youth unemployment rate (female to male ratio),existence expectancy at birth,existence expectancy index,galactic year,galaxy,train_test,y,galactic year 1,date
0,NaN,174.617899,NaN,NaN,75.604799,NaN,NaN,NaN,NaN,NaN,...,98.216072,NaN,63.125200,0.628657,990025,Large Magellanic Cloud (LMC),train,0.052590,19800101,1980-01-01
1,19.177926,109.892385,NaN,NaN,57.214150,0.467873,NaN,NaN,NaN,NaN,...,88.322574,NaN,81.004994,0.818082,990025,Camelopardalis B,train,0.059868,19800101,1980-01-01
2,21.151265,230.573666,6.53402,NaN,76.141735,0.363837,NaN,NaN,NaN,NaN,...,114.163995,NaN,59.570534,0.659443,990025,Virgo I,train,0.050449,19800101,1980-01-01
194,NaN,NaN,NaN,NaN,NaN,NaN,96.827657,53.392606,76.506783,NaN,...,NaN,2.184798,62.389059,0.627245,991020,Large Magellanic Cloud (LMC),train,0.052115,19820101,1982-01-01
235,NaN,NaN,NaN,NaN,NaN,0.587530,68.266393,47.833230,62.562572,NaN,...,NaN,2.129355,73.687283,0.868862,991020,Camelopardalis B,train,0.059995,19820101,1982-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422,43.022405,91.638031,NaN,5.952772,93.041138,0.577366,77.823432,47.088626,74.231191,18617.638573,...,56.111293,2.174437,83.695703,0.937656,1011030,Large Magellanic Cloud (LMC),test,NaN,20220101,2022-01-01
453,28.018268,84.011590,NaN,5.200907,124.595039,0.866781,46.532358,80.649626,64.376781,32871.255720,...,69.487423,1.679251,84.615662,0.951380,1016064,Camelopardalis B,test,NaN,20320101,2032-01-01
485,27.524615,80.321255,NaN,7.025313,138.305830,0.901802,50.268190,61.260724,58.336794,23903.316183,...,72.933001,2.348036,84.986949,0.964766,1015056,Camelopardalis B,test,NaN,20300101,2030-01-01
691,25.601998,88.551129,NaN,6.839673,155.682611,0.761121,35.195214,73.131443,53.878356,30331.703435,...,64.074680,2.532163,87.611550,1.034410,1012036,Camelopardalis B,test,NaN,20240101,2024-01-01
723,21.310881,110.050489,NaN,7.477999,157.033647,0.918225,36.529669,73.028993,57.147939,23460.018498,...,49.280179,2.008173,86.239340,1.045768,1013042,Camelopardalis B,test,NaN,20260101,2026-01-01

In [14]:
#Imputing nans with time series - trying on one galaxy

for g in df_combined.galaxy.unique():
    print(g)
    df_temp = df_combined[df_combined['galaxy']==g].copy()
    df = df_combined[~(df_combined['galaxy']==g)]
    #filling the Nans (first with interpolation and then backfilling if missing for start)
    df_temp.sort_values("galactic year",inplace=True)
    df_temp_1 = df_temp.copy()
    df_temp_1.drop(['galaxy','train_test','y','galactic year 1'
                    #'galactic year'
                   ],axis=1,inplace=True)
    df_temp_1.reset_index(inplace=True)
    null_list = [col for col in df_temp_1.columns if df_temp_1[col].isnull().all()]
    for n in null_list:
        df_temp_1.drop(columns=n, axis=1, inplace=True)
    
    print(null_list)
    
    for p in df_temp_1.columns:
        if p!='date':
            try:
                df_temp_temp_1 = df_temp_1[['date',p]].copy()
                df_temp_temp_1.set_index('date', inplace=True, drop=True)
                data = df_temp_temp_1
                #print(p)
                model = sm.tsa.statespace.SARIMAX(data, order=(1, 0, 0))
                #print("model initiated")
                results = model.fit(maxiter=5000)

                #option 1

                for q in df_temp_1.index:
                    if df_temp_1[p].loc[q]==np.nan:
                        df_temp_1[p].loc[q] = list(results.fittedvalues)[q]
                    else:
                        df_temp_1[p].loc[q]=df_temp_1[p].loc[q]
            except:
                #print(p)
                for q in df_temp_1.index:
                    if df_temp_1[p].loc[q]==np.nan:
                        df_temp_1[p].loc[q] = df_temp_1[p].mean()
                    else:
                        df_temp_1[p].loc[q]=df_temp_1[p].loc[q]
                    
                
    for n in null_list:
        df_temp_1[n]=list(df_temp[n])
        df_temp_1['galaxy'] = list(df_temp['galaxy'])
        df_temp_1['train_test'] = list(df_temp['train_test'])
        df_temp_1['y'] = list(df_temp['y'])


        results_df = pd.concat([results_df,df_temp_temp])
    
    df = pd.concat([df,df_temp_1])
    
df
#filling the Nans for any which didnt have anything to fill at all
#df.fillna(df.mean(),inplace=True)

Large Magellanic Cloud (LMC)
['Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total', 'Private galaxy capital flows (% of GGP)']

/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)

/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)
/Users/Tiffany/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/base/tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency 2AS-JAN will be used.
  % freq, ValueWarning)

NameError: name 'results_df' is not defined

In [15]:
df

,Adjusted net savings,"Adolescent birth rate (births per 1,000 female creatures ages 15-19)","Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Current health expenditure (% of GGP),Domestic credit provided by financial sector (% of GGP),Education Index,Employment in agriculture (% of total employment),Employment in services (% of total employment),Employment to population ratio (% ages 15 and older),"Estimated gross galactic income per capita, female",...,Young age (0-14) dependency ratio (per 100 creatures ages 15-64),Youth unemployment rate (female to male ratio),existence expectancy at birth,existence expectancy index,galactic year,galaxy,train_test,y,galactic year 1,date
1,19.177926,109.892385,NaN,NaN,57.214150,0.467873,NaN,NaN,NaN,NaN,...,88.322574,NaN,81.004994,0.818082,990025,Camelopardalis B,train,0.059868,19800101,1980-01-01
2,21.151265,230.573666,6.534020,NaN,76.141735,0.363837,NaN,NaN,NaN,NaN,...,114.163995,NaN,59.570534,0.659443,990025,Virgo I,train,0.050449,19800101,1980-01-01
235,NaN,NaN,NaN,NaN,NaN,0.587530,68.266393,47.833230,62.562572,NaN,...,NaN,2.129355,73.687283,0.868862,991020,Camelopardalis B,train,0.059995,19820101,1982-01-01
309,NaN,NaN,NaN,NaN,NaN,0.342069,94.186618,35.848039,79.547832,NaN,...,NaN,2.301528,58.867426,0.555338,991020,Virgo I,train,0.049411,19820101,1982-01-01
364,NaN,NaN,NaN,NaN,NaN,0.390630,NaN,NaN,NaN,NaN,...,NaN,NaN,60.551216,0.554174,992016,Virgo I,train,0.049193,19840101,1984-01-01
477,NaN,NaN,NaN,NaN,NaN,0.602711,NaN,NaN,NaN,NaN,...,NaN,NaN,75.604580,0.788962,992016,Camelopardalis B,train,0.059934,19840101,1984-01-01
552,NaN,NaN,NaN,NaN,NaN,0.621111,NaN,NaN,NaN,NaN,...,NaN,NaN,80.028587,0.770042,993012,Camelopardalis B,train,0.059734,19860101,1986-01-01
635,NaN,NaN,NaN,NaN,NaN,0.348280,NaN,NaN,NaN,NaN,...,NaN,NaN,62.918772,0.612921,993012,Virgo I,train,0.048858,19860101,1986-01-01
769,NaN,NaN,NaN,NaN,NaN,0.564957,NaN,NaN,NaN,NaN,...,NaN,NaN,74.964164,0.875165,994009,Camelopardalis B,train,0.059479,19880101,1988-01-01
897,NaN,NaN,NaN,NaN,NaN,0.377290,NaN,NaN,NaN,NaN,...,NaN,NaN,50.942282,0.630974,994009,Virgo I,train,0.048516,19880101,1988-01-01
968,NaN,200.598404,14.371015,NaN,43.867763,0.421850,78.743969,39.912953,77.946108,-947.544715,...,108.633598,2.418434,52.285830,0.520525,995006,Virgo I,train,0.048241,19900101,1990-01-01
1070,15.113279,94.296203,NaN,NaN,80.602384,0.687401,74.539589,48.336309,56.550373,19794.827255,...,83.157316,2.252912,75.951321,0.842340,995006,Camelopardalis B,train,0.059341,19900101,1990-01-01
1084,NaN,NaN,NaN,NaN,NaN,0.684307,NaN,NaN,NaN,NaN,...,NaN,NaN,72.599181,0.947751,996004,Camelopardalis B,train,0.059318,19920101,1992-01-01
1130,NaN,NaN,NaN,NaN,NaN,0.366044,NaN,NaN,NaN,NaN,...,NaN,NaN,56.391857,0.548997,996004,Virgo I,train,0.047036,19920101,1992-01-01
1263,NaN,NaN,NaN,NaN,NaN,0.610257,NaN,NaN,NaN,NaN,...,NaN,NaN,74.848587,0.848785,997002,Camelopardalis B,train,0.059203,19940101,1994-01-01
1292,NaN,NaN,NaN,NaN,NaN,0.371260,NaN,NaN,NaN,NaN,...,NaN,NaN,54.017237,0.605644,997002,Virgo I,train,0.046734,19940101,1994-01-01
1466,NaN,NaN,NaN,NaN,NaN,0.615623,NaN,NaN,NaN,NaN,...,NaN,NaN,80.237763,0.897591,998001,Camelopardalis B,train,0.059115,19960101,1996-01-01
1487,NaN,NaN,NaN,NaN,NaN,0.361373,NaN,NaN,NaN,NaN,...,NaN,NaN,53.856547,0.622283,998001,Virgo I,train,0.046350,19960101,1996-01-01
1678,NaN,NaN,NaN,NaN,NaN,0.501029,NaN,NaN,NaN,NaN,...,NaN,NaN,53.845410,0.493658,999000,Virgo I,train,0.046022,19980101,1998-01-01
1689,NaN,NaN,NaN,NaN,NaN,0.538220,NaN,NaN,NaN,NaN,...,NaN,NaN,81.836218,0.924303,999000,Camelopardalis B,train,0.059064,19980101,1998-01-01
1851,18.244492,110.786137,NaN,6.875249,76.889779,0.662498,67.567109,49.071854,53.222709,16351.000568,...,73.128507,1.962717,84.335262,0.878741,1000000,Camelopardalis B,train,0.059057,20000101,2000-01-01
1975,NaN,155.036580,14.490678,8.034508,86.937605,0.555302,82.521998,28.975778,81.928307,13175.789257,...,96.618880,1.985936,54.274942,0.533987,1000000,Virgo I,train,0.045704,20000101,2000-01-01
2095,NaN,NaN,NaN,NaN,NaN,0.629287,NaN,NaN,NaN,NaN,...,NaN,NaN,85.019745,0.835750,1001000,Camelopardalis B,train,0.057986,20020101,2002-01-01
2102,NaN,NaN,NaN,NaN,NaN,0.604518,NaN,NaN,NaN,NaN,...,NaN,NaN,60.189208,0.606961,1001000,Virgo I,train,0.043221,20020101,2002-01-01
2217,NaN,NaN,NaN,NaN,NaN,0.449684,NaN,NaN,NaN,NaN,...,NaN,NaN,52.697366,0.510165,1002001,Virgo I,train,0.042873,20040101,2004-01-01
2307,NaN,NaN,NaN,NaN,NaN,0.709006,NaN,NaN,NaN,NaN,...,NaN,NaN,82.005322,0.929975,1002001,Camelopardalis B,train,0.057926,20040101,2004-01-01
2373,NaN,NaN,NaN,NaN,NaN,0.503091,NaN,NaN,NaN,NaN,...,NaN,NaN,47.784165,0.436123,1003002,Virgo I,train,0.042461,20060101,2006-01-01
2424,NaN,NaN,NaN,NaN,NaN,0.888973,NaN,NaN,NaN,NaN,...,NaN,NaN,82.805955,0.905514,1003002,Camelopardalis B,train,0.057700,20060101,2006-01-01
2521,NaN,NaN,NaN,NaN,NaN,0.772482,NaN,NaN,NaN,NaN,...,NaN,NaN,82.790235,0.963586,1004004,Camelopardalis B,train,0.057908,20080101,2008-01-01
2641,NaN,NaN,NaN,NaN,NaN,0.467145,NaN,NaN,NaN,NaN,...,NaN,NaN,57.147451,0.525251,1004004,Virgo I,train,0.042236,20080101,2008-01-01
2717,NaN,187.414305,9.417920,7.313751,60.018281,0.509637,81.520991,40.702415,81.321444,17148.191677,...,111.330833,2.202037,58.162353,0.543404,1005006,Virgo I,train,0.041875,20100101,2010-01-01
2870,23.804331,97.311288,NaN,6.151589,80.806885,0.702817,39.516810,61.855344,56.729862,18393.780702,...,77.221312,2.149401,82.447641,1.043113,1005006,Camelopardalis B,train,0.057663,20100101,2010-01-01
2882,NaN,NaN,NaN,NaN,NaN,0.765645,NaN,NaN,NaN,NaN,...,NaN,NaN,77.919815,0.969298,1006009,Camelopardalis B,train,0.056803,20120101,2012-01-01
2974,NaN,NaN,NaN,NaN,NaN,0.476006,NaN,NaN,NaN,NaN,...,NaN,NaN,55.026818,0.548968,1006009,Virgo I,train,0.040427,20120101,2012-01-01
3065,NaN,NaN,NaN,NaN,NaN,0.708460,NaN,NaN,NaN,NaN,...,NaN,NaN,89.140331,0.969893,1007012,Camelopardalis B,train,0.056656,20140101,2014-01-01
3136,NaN,NaN,NaN,NaN,NaN,0.557515,NaN,NaN,NaN,NaN,...,NaN,NaN,54.618898,0.477144,1007012,Virgo I,train,0.040060,20140101,2014-01-01
3184,NaN,NaN,NaN,NaN,NaN,0.642198,NaN,NaN,NaN,NaN,...,NaN,NaN,48.655967,0.584246,1008016,Virgo I,train,0.039696,20160101,2016-01-01
3202,NaN,NaN,NaN,NaN,NaN,0.741084,NaN,NaN,NaN,NaN,...,NaN,NaN,84.713881,1.025858,1008016,Camelopardalis B,train,0.056487,20160101,2016-01-01
3265,NaN,NaN,NaN,NaN,NaN,0.498374,NaN,NaN,NaN,NaN,...,NaN,NaN,59.454098,0.601532,1009020,Virgo I,train,0.039426,20180101,2018-01-01
3304,NaN,NaN,NaN,NaN,NaN,0.803111,NaN,NaN,NaN,NaN,...,NaN,NaN,86.227445,1.045274,1009020,Camelopardalis B,train,0.056592,20180101,2018-01-01
3332,NaN,200.284933,9.288340,4.909839,80.277634,0.495552,94.319085,39.128209,78.801925,12820.830959,...,97.467714,2.116111,60.417514,0.613529,1010025,Virgo I,train,0.039152,20200101,2020-01-01
3358,20.230213,103.721077,NaN,6.898187,119.066482,0.728281,45.934659,73.596919,55.870044,22241.757749,...,71.363367,2.014562,86.008797,1.058402,1010025,Camelopardalis B,train,0.057155,20200101,2020-01-01
3423,28.827172,95.842604,NaN,7.791537,122.860294,0.878507,63.255202,68.747112,51.213506,21524.404328,...,55.364683,2.621744,83.676838,1.038621,1011030,Camelopardalis B,train,0.051950,20220101,2022-01-01
3472,NaN,175.219104,9.800436,6.066109,79.452990,0.524489,95.158222,38.065806,83.471523,16563.242767,...,118.259625,2.379016,59.279916,0.581829,1011030,Virgo I,train,0.029836,20220101,2022-01-01
3578,NaN,191.760045,9.623797,6.417557,85.068661,0.424987,87.848644,37.975273,80.202103,12369.746885,...,104.120693,2.047980,58.415493,0.550677,1012036,Virgo I,train,0.029937,20240101,2024-01-01
3760,30.963227,82.157971,NaN,8.315840,140.222636,0.866921,36.997882,68.862207,55.549112,27020.420890,...,72.273586,2.064850,86.720839,0.962695,1014049,Camelopardalis B,train,0.053946,20280101,2028-01-01
3842,NaN,215.083363,8.364039,9.538793,81.790423,0.519943,102.702535,33.492664,73.083334,11514.294216,...,105.935300,2.355209,57.613256,0.618491,1015056,Virgo I,train,0.018371,20300101,2030-01-01
4,NaN,162.451451,7.687626,7.357729,86.296925,0.580418,89.542879,28.815475,76.502740,18103.974021,...,111.084652,2.043633,55.428320,0.588274,1013042,Virgo I,test,NaN,20260101,2026-01-01
21,NaN,192.707810,9.215519,7.071429,80.387349,0.438187,97.433874,43.347070,76.953320,9765.390091,...,127.759030,2.624284,57.888099,0.630673,1014049,Virgo I,test,NaN,20280101,2028-01-01
67,NaN,211.137163,6.396419,6.928602,114.508732,0.490001,94.330830,40.082274,81.061922,6584.511657,...,115.691211,2.550048,62.578774,0.704373,1016064,Virgo I,test,NaN,20320101,2032-01-01
453,28.018268,84.011590,NaN,5.200907,124.595039,0.866781,46.532358,80.649626,64.376781,32871.255720,...,69.487423,1.679251,84.615662,0.951380,1016064,Camelopardalis B,test,NaN,20320101,2032-01-01
485,27.524615,80.321255,NaN,7.025313,138.305830,0.901802,50.268190,61.260724,58.336794,23903.316183,...,72.933001,2.348036,84.986949,0.964766,1015056,Camelopardalis B,test,NaN,20300101,2030-01-01
691,25.601998,88.551129,NaN,6.839673,155.682611,0.761121,35.195214,73.131443,53.878356,30331.703435,...,64.074680,2.532163,87.611550,1.034410,1012036,Camelopardalis B,test,NaN,20240101,2024-01-01
723,21.310881,110.050489,NaN,7.477999,157.033647,0.918225,36.529669,73.028993,57.147939,23460.018498,...,49.280179,2.008173,86.239340,1.045768,1013042,Camelopardalis B,test,NaN,20260101,2026-01-01